<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

<!-- If there are any flash messages display them in a UL -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<!--create the distance drop down menu-->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <!--create the begins at menu-->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <!-- Create the table for all of the control times-->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
    <!--generates 20 rows for control times table-->
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" /> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>
<button type = "button" class = "submit-button">Submit</button>
<form action = "/display">
  <button type = "submit">Display</button>
</form>
<p class = "error-message" style = "display:none">Error attempting to add control(s) to database</p>
<script type="text/javascript">
  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  console.log("root");
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
  var SUBMIT_URL = SCRIPT_ROOT + "/_submit";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    //figure out how many km the brevet distance is
    var km = control.find("input[name='km']").val();
    var bl = $("#brevet_dist_km").val();
    console.log(bl);
    //need to get the time for the brevet to begin
    var date = $("#begin_date").val();
    var start_time = $("#begin_time").val();
    console.log(start_time);
    var bt = date + " " + start_time;
    console.log(date);
    console.log(start_time);
    console.log(bt);
    //get control of the open and close fields
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    var notes = control.find(".notes");
    
    //use ajax to update 
    $.getJSON(TIME_CALC_URL, { km: km, bl: bl, bt: bt}, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         console.log(times.valid);
         if(times.valid == true){
           console.log("valid");
           open_time_field.val( moment.utc(times.open).format("ddd M/D H:mm"));
           close_time_field.val( moment.utc(times.close).format("ddd M/D H:mm"));
           notes.html("");
         }else{
            open_time_field.val("Invalid date");
            close_time_field.val("Invalid date");
         }
        
         //check if an error message needs to be displayed
         if(times.open === null || times.close === null || times.valid == false){
            notes.css("color", "red");
            console.log("invalid distance");
            notes.html("Control is not at a valid distance");
         }else{
            notes.html("");
         }
         console.log(date);
         
       } // end of handler function
     );// End of getJSON
    }

  function submit(dict) {
    var km = dict["km"];
    var ml = dict["ml"];
    var location = dict["location"];
    var open = dict["open"];
    var close = dict["close"];
    $(".error-message").css("display", "none");
    //use ajax to update 
    $.getJSON(SUBMIT_URL, {km: km, ml: ml, location: location, open: open, close: close}, 
      // response handler
      function(data) {
         console.log("came back to js");
         var is_error = data.result.error;
         console.log(is_error);
         var error_display = $(".error-message").css("display");
         console.log(error_display);

         if(is_error){
          console.log("in error");
          $(".error-message").css("display", "block");
          $(".error-message").css("color", "red");
         }else{
            if(error_display == "none"){
              $(".error-message").css("display", "none");
            }
         }
       } // end of handler function
     );// End of getJSON
    }

  $(document).ready(function(){
   // Do the following when the page is finished loading
      $('.submit-button').click(function(){
        console.log("click registered")
        //need to get what is in the table currently
        var found_one = false;
        $(".control").each(function(index){
                controlObject = $(this);
                console.log(controlObject);
                if ($(this).find("input[name='km']").val() !== ""){
                  //store the km value
                  var km_val = $(this).find("input[name='km']").val();
                  //store the miles val
                  var miles_val = $(this).find("input[name='miles']").val();
                  //store the location value
                  var location_val = $(this).find("input[name='location']").val();
                  //store the open time value
                  var open_val = $(this).find("input[name='open']").val();
                  //store the close time value
                  var close_val = $(this).find("input[name='close']").val();

                  var dict_to_send = {
                    "km": km_val,
                    "ml": miles_val,
                    "location": location_val,
                    "open": open_val,
                    "close": close_val
                  }
                  console.log("hit");
                  found_one = true;
                  submit(dict_to_send);
                }else{
                  console.log("in second error cond");
                  /*
                  $(".error-message").css("display", "block");
                  $(".error-message").css("color", "red");
                  */
                }

                if(!found_one){
                  $(".error-message").css("display", "block");
                  $(".error-message").css("color", "red");
                }
             });
      });


      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             //get the control object that is a parent of this input field
             var control_entry = $(this).parents(".control")
             //get the km field for the control we got
             var target = control_entry.find("input[name='km']");
             //fill in the km entry
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             console.log(control_entry);
             // Then calculate times for this entry
             calc_times(control_entry);
          });
      //add the extra event listeners for when 
      //need to add them for distance and both begins at inputs
      $('#brevet_dist_km').change(
         function() {
             console.log("distance changed");
             //now need to loop through the items in the table and update open and close times
             //Piazza post by Kevin Post helped with this part
             $(".control").each(function(index){
                controlObject = $(this);
                console.log(controlObject);
                if ($(this).find("input[name='km']").val() !== ""){
                  //calc_times(controlObject);
                  console.log($(this).find("input[name='km']").val());
                  console.log("hit");
                  calc_times($(this));
                }
             });
          });

      $('#begin_date').change(
         function() {
             console.log("date changed");
             //now need to loop through the items in the table and update open and close times
             //Piazza post by Kevin Post helped with this part
             $(".control").each(function(index){
                controlObject = $(this);
                console.log(controlObject);
                if ($(this).find("input[name='km']").val() !== ""){
                  //calc_times(controlObject);
                  console.log($(this).find("input[name='km']").val());
                  console.log("hit");
                  calc_times($(this));
                }
             });
          });

      $('#begin_time').change(
         function() {
             console.log("time changed");
             //now need to loop through the items in the table and update open and close times
             //Piazza post by Kevin Post helped with this part
             $(".control").each(function(index){
                controlObject = $(this);
                console.log(controlObject);
                if ($(this).find("input[name='km']").val() !== ""){
                  //calc_times(controlObject);
                  console.log($(this).find("input[name='km']").val());
                  console.log("hit");
                  calc_times($(this));
                }
             });
          });

      //new stuff

      //when the submit button is clicked, add the data to the data base


      //when the display button is pressed go to a new page to display all of the times


     });   // end of what we do on document ready

</script>

</div>
</body> </html>
