
<div class="row">
<div class="col-md-12"> 
	<table class="control_time_table">
    	<tr>
			<th> Miles </th>
			<th> Km </th>
			<th>Location</th>
			<th>Open</th>
			<th>Close</th>
    	</tr>
    <!--generates 20 rows for control times table-->
   {% for brevet in brevets %}
	    <tr class="control">
	      <!-- Dist (mi) -->
	      <td>{{ brevet.miles }}</td>
	      <!-- Dist (km) -->
	      <td>{{ brevet.km }}</td>
	      <!-- Location (optional) -->
	      <td>{{ brevet.location }}</td>
	      <!-- Open time (read only, set by JavaScript function -->
	      <td>{{ brevet.open_time }}</td>
	      <!-- Close time (read only, set by JavaScript function -->
	      <td>{{ brevet.close_time }}</td>
	    </tr>
    {% endfor %}
  	</table>
  </div> <!-- col -->
  </div> <!-- row -->